@font-face {
    font-family: 'icomoon';
    src:url('icon-fonts/icomoon.eot');
    src:url('icon-fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('icon-fonts/icomoon.woff') format('woff'),
    url('icon-fonts/icomoon.ttf') format('truetype'),
    url('icon-fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-uniF47C, .icon-pencil, .icon-user, .icon-user-2, .icon-clock, .icon-clock-2, .icon-time, .icon-time-2, .icon-clock-3, .icon-clock-4, .icon-clock-5, .icon-clock-6, .icon-bookmark, .icon-bookmarks, .icon-bookmark-2, .icon-comment, .icon-bubble, .icon-bubbles, .icon-github, .icon-github-2, .icon-flickr, .icon-flickr-2, .icon-vimeo, .icon-vimeo-2, .icon-twitter, .icon-twitter-2, .icon-facebook, .icon-facebook-2, .icon-facebook-3, .icon-googleplus, .icon-googleplus-2, .icon-pinterest, .icon-pinterest-2, .icon-tumblr, .icon-tumblr-2, .icon-linkedin, .icon-linkedin-2, .icon-dribbble, .icon-dribbble-2, .icon-lastfm, .icon-lastfm-2, .icon-instagram, .icon-dropbox, .icon-evernote, .icon-skype, .icon-skype-2, .icon-renren, .icon-picasa, .icon-soundcloud, .icon-behance, .icon-wordpress, .icon-wordpress-2, .icon-feed, .icon-feed-2, .icon-mail, .icon-mail-2, .icon-youtube, .icon-youtube-2, .icon-phone, .icon-phone-2, .icon-phone-3, .icon-pencil-2, .icon-cloud-ul, .icon-suitcase, .icon-airplane, .icon-unlocked, .icon-bell, .icon-globe, .icon-greenhosting, .icon-picture, .icon-briefcase, .icon-pencil-3, .icon-feather, .icon-pen, .icon-pen-2, .icon-chat, .icon-comments, .icon-coins, .icon-cart, .icon-basket, .icon-cart-2, .icon-cart-3, .icon-arrow-right, .icon-arrow-right-alt1, .icon-paperplane, .icon-checkmark, .icon-download, .icon-cloud-dl, .icon-download-2, .icon-cross, .icon-cancel-circle, .icon-remove, .icon-search, .icon-settings4, .icon-settings, .icon-cogs, .icon-cogs-2 {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    }
.icon-uniF47C:before {
    content: "\f47c";
    }
.icon-pencil:before {
    content: "\e001";
    }
.icon-user:before {
    content: "\e005";
    }
.icon-user-2:before {
    content: "\e006";
    }
.icon-clock:before {
    content: "\e007";
    }
.icon-clock-2:before {
    content: "\e008";
    }
.icon-time:before {
    content: "\f017";
    }
.icon-time-2:before {
    content: "\e009";
    }
.icon-clock-3:before {
    content: "\e00a";
    }
.icon-clock-4:before {
    content: "\e00b";
    }
.icon-clock-5:before {
    content: "\e00c";
    }
.icon-clock-6:before {
    content: "\e00d";
    }
.icon-bookmark:before {
    content: "\e012";
    }
.icon-bookmarks:before {
    content: "\e013";
    }
.icon-bookmark-2:before {
    content: "\e014";
    }
.icon-comment:before {
    content: "\e016";
    }
.icon-bubble:before {
    content: "\e017";
    }
.icon-bubbles:before {
    content: "\e018";
    }
.icon-github:before {
    content: "\e01f";
    }
.icon-github-2:before {
    content: "\e020";
    }
.icon-flickr:before {
    content: "\e021";
    }
.icon-flickr-2:before {
    content: "\e022";
    }
.icon-vimeo:before {
    content: "\e023";
    }
.icon-vimeo-2:before {
    content: "\e024";
    }
.icon-twitter:before {
    content: "\e025";
    }
.icon-twitter-2:before {
    content: "\e026";
    }
.icon-facebook:before {
    content: "\e027";
    }
.icon-facebook-2:before {
    content: "\e028";
    }
.icon-facebook-3:before {
    content: "\e029";
    }
.icon-googleplus:before {
    content: "\e02a";
    }
.icon-googleplus-2:before {
    content: "\e02b";
    }
.icon-pinterest:before {
    content: "\e02c";
    }
.icon-pinterest-2:before {
    content: "\e02d";
    }
.icon-tumblr:before {
    content: "\e02e";
    }
.icon-tumblr-2:before {
    content: "\e02f";
    }
.icon-linkedin:before {
    content: "\e030";
    }
.icon-linkedin-2:before {
    content: "\e031";
    }
.icon-dribbble:before {
    content: "\e032";
    }
.icon-dribbble-2:before {
    content: "\e033";
    }
.icon-lastfm:before {
    content: "\e034";
    }
.icon-lastfm-2:before {
    content: "\e035";
    }
.icon-instagram:before {
    content: "\e036";
    }
.icon-dropbox:before {
    content: "\e037";
    }
.icon-evernote:before {
    content: "\e038";
    }
.icon-skype:before {
    content: "\e039";
    }
.icon-skype-2:before {
    content: "\e03a";
    }
.icon-renren:before {
    content: "\e03b";
    }
.icon-picasa:before {
    content: "\e03c";
    }
.icon-soundcloud:before {
    content: "\e03d";
    }
.icon-behance:before {
    content: "\e03e";
    }
.icon-wordpress:before {
    content: "\e03f";
    }
.icon-wordpress-2:before {
    content: "\e040";
    }
.icon-feed:before {
    content: "\e041";
    }
.icon-feed-2:before {
    content: "\e042";
    }
.icon-mail:before {
    content: "\e043";
    }
.icon-mail-2:before {
    content: "\e044";
    }
.icon-youtube:before {
    content: "\e045";
    }
.icon-youtube-2:before {
    content: "\e046";
    }
.icon-phone:before {
    content: "\e047";
    }
.icon-phone-2:before {
    content: "\e048";
    }
.icon-phone-3:before {
    content: "\f095";
    }
.icon-pencil-2:before {
    content: "\e000";
    }
.icon-cloud-ul:before {
    content: "\e010";
    }
.icon-suitcase:before {
    content: "\e049";
    }
.icon-airplane:before {
    content: "\e04a";
    }
.icon-unlocked:before {
    content: "\e04b";
    }
.icon-bell:before {
    content: "\2407";
    }
.icon-globe:before {
    content: "\f36c";
    }
.icon-greenhosting:before {
    content: "\f039";
    }
.icon-picture:before {
    content: "\e04c";
    }
.icon-briefcase:before {
    content: "\e04d";
    }
.icon-pencil-3:before {
    content: "\e04e";
    }
.icon-feather:before {
    content: "\e002";
    }
.icon-pen:before {
    content: "\e003";
    }
.icon-pen-2:before {
    content: "\e004";
    }
.icon-chat:before {
    content: "\e00f";
    }
.icon-comments:before {
    content: "\e01d";
    }
.icon-coins:before {
    content: "\e011";
    }
.icon-cart:before {
    content: "\e015";
    }
.icon-basket:before {
    content: "\e019";
    }
.icon-cart-2:before {
    content: "\e01a";
    }
.icon-cart-3:before {
    content: "\e01b";
    }
.icon-arrow-right:before {
    content: "\e01c";
    }
.icon-arrow-right-alt1:before {
    content: "\e01e";
    }
.icon-paperplane:before {
    content: "\e04f";
    }
.icon-checkmark:before {
    content: "\e050";
    }
.icon-download:before {
    content: "\e051";
    }
.icon-cloud-dl:before {
    content: "\e052";
    }
.icon-download-2:before {
    content: "\e053";
    }
.icon-cross:before {
    content: "\e054";
    }
.icon-cancel-circle:before {
    content: "\e055";
    }
.icon-remove:before {
    content: "\e056";
    }
.icon-search:before {
    content: "\e00e";
    }
.icon-settings4:before {
    content: "\f308";
    }
.icon-settings:before {
    content: "\e057";
    }
.icon-cogs:before {
    content: "\f085";
    }
.icon-cogs-2:before {
    content: "\e058";
    }

