ul.post-list a:hover { color: #46A5D5; }
.post-snippets .hentry .entry-title a:hover { color: #46A5D5; }
a, a:active, a:visited { color: #46A5D5; }
.byline span i { color: #46a5d5; }
.entry-meta span i { color: #46a5d5; }
.entry-meta span:hover a { color: #46a5d5; }
.loop-nav a:hover { color: #46A5D5; }
.pagination span.current, .page-links a:hover, .pagination a:hover { background: #46A5D5; }
.sidebar a:hover { color: #46A5D5; }
#before-content-wrap.title-area { background: -o-linear-gradient(bottom, #50afdf 1%, #46a5d5 51%);
    background: -moz-linear-gradient(bottom, #50afdf 1%, #46a5d5 51%); background: -webkit-linear-gradient(bottom, #50afdf 1%, #46a5d5 51%);
    background: -ms-linear-gradient(bottom, #50afdf 1%, #46a5d5 51%); background: linear-gradient(bottom, #50afdf 1%, #46a5d5 51%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.01, #50afdf), color-stop(0.51, #46a5d5));
    background-color: #46A5D5; border-bottom: 1px solid #f9f9f9; box-shadow: 1px 1px #46a5d5; }
#before-content-area a, #before-content-area a:active, #before-content-area a:visited { color: #46A5D5; }
#portfolio-filter a:hover { background: #46A5D5; }
.dropcap2, .dropcap3, .dropcap4, .dropcap5 { background-color: #46A5D5; }
.header-fancy span { background-color: #46a5d5; }
h3.fancy-header { background-color: #46a5d5; }
.top-of-page a:hover { color: #46A5D5; }
.tabs .current, .tabs .current:hover, .tabs li.current a { border-top: 2px solid #46A5D5;}
.read-more a { color: #46A5D5; }
ul#recentcomments li.recentcomments:before { }
.tagcloud a:hover, #bottom-area .tagcloud a:hover { background-color: #46a5d5; }
.flex-control-paging li a:hover, .flex-control-paging li a.flex-active { background-color: #46A5D5; }
.flex-control-nav li a.flex-active { background-color: #46A5D5; }
#primary-menu > ul > li.current-menu-ancestor { border-top: 4px solid #46a5d5; }
#primary-menu > ul > li:hover, #primary-menu > ul > li.sfHover { background-color: #46A5D5; }
#primary-menu > ul > li:hover:before, #primary-menu > ul >li.sfHover:before { background: #46A5D5; }
div.service-box2:hover h2 a { color: #46A5D5; }
div.service-box1:hover { background-color: #46A5D5; }
.service-box3:hover { border-color: #46A5D5; }
#services-rounded .service-box4:hover h2 { color: #46a5d5; }
.heading1 h2, .user-invitation h2, #clients-introduction .title { color: #46a5d5; }
#slider-showcase-skills blockquote { border-left: 5px solid #46a5d5; }
#column-shortcode-section p { background: #46a5d5; }
.pricing-table .pricing-plan h4 { color: #46A5D5; }
.heading2 .title { color: #46a5d5; }
.fancy-tab .current-tab { background-color: #46a5d5; border-color: #46a5d5; }
.fancy-tab li.current-tab:hover { background-color: #46a5d5; }
#content .contact-form input:focus, #content .contact-form textarea:focus { border: 2px solid rgba(70, 165, 213, 0.5); }
.image-info { background: rgba(70, 165, 213, 0.8); }
span.action-link a:hover { color: #46a5d5; }
a.more-link:hover { color: #46a5d5; }
.service-box4 [class^="icon-"] { color: #46a5d5; }