
#site-title a {
    background: url("default/logo.png") no-repeat scroll 0 0 transparent;
}

.folded-edge {
    background: url("default/fancy-hover-fold.png") no-repeat -9999px -9999px #f9f9f9;
}

a.more-link { background-image: url(default/arrow-more.png); }

.testimonials2-slider-container blockquote .footer,
.testimonials3-slider-container blockquote .footer { background-image: url("default/seperator-testimonials.png"); }

.toggle-label { background-image: url("default/toggle-button-plus.png"); }

.active-toggle .toggle-label { background-image: url("default/toggle-button-minus.png"); }

